@charset "UTF-8";

:root {
  /*
  Color
   */
  --pink: rgba(163, 0, 0, 1);
  --red: rgba(163, 41, 0, 1);
  --orange: rgba(163, 82, 1, 1);
  --yellow-orange: rgba(163, 122, 0, 1);
  --deep-yellow: rgba(163, 163, 0, 1);
  --orange-green: rgba(122, 163, 0, 1);
  --green-yellow: rgba(82, 163, 0, 1);
  --green-yellow-light: rgba(41, 163, 0, 1);
  --green-dark: rgba(0, 163, 0, 1);
  --green: rgba(0, 163, 41, 1);
  --green-light: rgba(0, 163, 82, 1);
  --green-blue: rgba(0, 163, 122, 1);
  --green-blue-light1: rgba(0, 163, 163, 1);
  --green-blue-light2: rgba(0, 122, 163, 1);
  --green-blue-light3: rgba(0, 82, 163, 1);
  --green-blue-light4: rgba(0, 62, 165, 1);
  --green-blue-light5: rgba(0, 41, 163, 1);
  --blue: rgba(0, 0, 163, 1);
  --blue-purple: rgba(41, 0, 163, 1);
  --purple: rgba(82, 0, 163, 1);
  --purple-light: rgba(122, 0, 163, 1);
  --purple-red: rgba(163, 0, 163, 1);
  --pink-light: rgba(163, 0, 122, 1);
  --salmon-pink: rgba(163, 0, 82, 1);
  --salmon-pink-light: rgba(163, 0, 41, 1);
  --salmon-pink-light2: rgba(163, 0, 0, 1);

  --gray-dark: rgba(64, 64, 64, 1);
  --gray: rgba(0, 0, 0, 0.3);
  --gray-light: rgba(0, 0, 0, 0.05);
  --blue-grey-lighten-5: rgba(236, 239, 241, 1);

  --green-blue-light4-opacity-half: rgba(0, 62, 165, 0.5);

  --base-color: var(--green-blue-light4);
  --base-color-opacity-half: var(--green-blue-light4-opacity-half);

  /*
  font
  */
  --en-font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans';
  --ja-font-family: 'Meiryo','Yu Gothic','ＭＳ Ｐゴシック','MS PGothic', 'sans-serif';
  --num-font-family: 'Tahoma', 'sans-serif';
}

/* initial setting*/
html {
  background-color: var(--blue-grey-lighten-5);
}

#main {
  min-height: auto;
  position: relative;/*←相対位置*/
  padding-bottom: 1rem;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:1rem;
}




/* font size */
h1, .h1 {
  font-size: 2rem !important;
  margin-bottom: 0;
  color: black !important;
}
  
h2, .h2 {
  font-size: 1.4rem !important;
  margin-bottom: 0;
  color: black !important;
}
  
h3, p, td, th, .h3 {
  font-size: 1.2rem !important;
  margin-bottom: 0;
  color: black !important;
}

h4, .h4 {
  font-size: 1rem !important;
  margin-bottom: 0;
  color: black !important;
}

  
h5, .h5 {
  font-size: 0.7rem !important;
  margin-bottom: 0;
  color: black !important;
}


/* color */
.blue-grey-lighten-5 {
  background-color: var(--blue-grey-lighten-5) !important;
}


/*
class
 */

 .pink {
  background-color: var(--pink) !important;
}
.red {
  background-color: var(--red) !important;
}
.orange {
  background-color: var(--orange) !important;
}
.yellow-orange {
  background-color: var(--yellow-orange) !important;
}
.orange-green {
  background-color: var(--orange-green) !important;
}
.green-yellow {
  background-color: var(--green-yellow) !important;
}
.green-yellow-light {
  background-color: var(--green-yellow-light) !important;
}
.green-dark {
  background-color: var(--green-dark) !important;
}
.green {
  background-color: var(--green) !important;
}
.green-light {
  background-color: var(--green-light) !important;
}
.green-blue {
  background-color: var(--green-blue) !important;
}
.green-blue-light1 {
  background-color: var(--green-blue-light1) !important;
}
.green-blue-light2 {
  background-color: var(--green-blue-light2) !important;
}
.green-blue-light3 {
  background-color: var(--green-blue-light3) !important;
}
.green-blue-light4 {
  background-color: var(--green-blue-light4) !important;
}
.green-blue-light5 {
  background-color: var(--green-blue-light5) !important;
}
.blue {
  background-color: var(--blue) !important;
}
.blue-purple {
  background-color: var(--blue-purple) !important;
}
.purple {
  background-color: var(--purple) !important;
}
.purple-light {
  background-color: var(--purple-light) !important;
}
.purple-red {
  background-color: var(--purple-red) !important;
}
.pink-light {
  background-color: var(--pink-light) !important;
}
.salmon-pink {
  background-color: var(--salmon-pink) !important;
}
.salmon-pink-light {
  background-color: var(--salmon-pink-light) !important;
}

.gray-dark {
  background-color: var(--gray-dark) !important;
}

.gray {
  background-color: var(--gray) !important;
}

.gray-light {
    background-color: var(--gray-light) !important;
  }

.base-color {
  background-color: var(--base-color) !important;
}

.base-color-opacity-half {
  background-color: var(--base-color-opacity-half) !important;
}
.success-color {
  background-color: var(--green-light) !important;
}

.danger-color {
  background-color: var(--red) !important;
}

.btn-info {
  background-color: var(--base-color) !important;
}

.card-header{
    background-color: transparent;
}

optgroup option::before{
  content:'';
}

.text-pink {
  color: var(--pink) !important;
}
.text-red {
  color: var(--red) !important;
}
.text-orange {
  color: var(--orange) !important;
}
.text-yellow-orange {
  color: var(--yellow-orange) !important;
}
.text-orange-green {
  color: var(--orange-green) !important;
}
.text-green-yellow {
  color: var(--green-yellow) !important;
}
.text-green-yellow-light {
  color: var(--green-yellow-light) !important;
}
.text-green-dark {
  color: var(--green-dark) !important;
}
.text-green {
  color: var(--green) !important;
}
.text-green-light {
  color: var(--green-light) !important;
}
.text-green-blue {
  color: var(--green-blue) !important;
}
.text-green-blue-light1 {
  color: var(--green-blue-light1) !important;
}
.text-green-blue-light2 {
  color: var(--green-blue-light2) !important;
}
.text-green-blue-light3 {
  color: var(--green-blue-light3) !important;
}
.text-green-blue-light4 {
  color: var(--green-blue-light4) !important;
}
.text-green-blue-light5 {
  color: var(--green-blue-light5) !important;
}
.text-blue {
  color: var(--blue) !important;
}
.text-blue-purple {
  color: var(--blue-purple) !important;
}
.text-purple {
  color: var(--purple) !important;
}
.text-purple-light {
  color: var(--purple-light) !important;
}
.text-purple-red {
  color: var(--purple-red) !important;
}
.text-pink-light {
  color: var(--pink-light) !important;
}
.text-salmon-pink {
  color: var(--salmon-pink) !important;
}
.text-salmon-pink-light {
  color: var(--salmon-pink-light) !important;
}

.text-gray-dark {
  color: var(--gray-dark) !important;
}

.text-gray {
  color: var(--gray) !important;
}

.text-gray-light {
  color: var(--gray-light) !important;
}

.text-base-color {
  color: var(--base-color) !important;
}

.border-pink {
  border-color: var(--pink) !important;
}
.border-red {
  border-color: var(--red) !important;
}
.border-orange {
  border-color: var(--orange) !important;
}
.border-yellow-orange {
  border-color: var(--yellow-orange) !important;
}
.border-orange-green {
  border-color: var(--orange-green) !important;
}
.border-green-yellow {
  border-color: var(--green-yellow) !important;
}
.border-green-yellow-light {
  border-color: var(--green-yellow-light) !important;
}
.border-green-dark {
  border-color: var(--green-dark) !important;
}
.border-green {
  border-color: var(--green) !important;
}
.border-green-light {
  border-color: var(--green-light) !important;
}
.border-green-blue {
  border-color: var(--green-blue) !important;
}
.border-green-blue-light1 {
  border-color: var(--green-blue-light1) !important;
}
.border-green-blue-light2 {
  border-color: var(--green-blue-light2) !important;
}
.border-green-blue-light3 {
  border-color: var(--green-blue-light3) !important;
}
.border-green-blue-light4 {
  border-color: var(--green-blue-light4) !important;
}
.border-green-blue-light5 {
  border-color: var(--green-blue-light5) !important;
}
.border-blue {
  border-color: var(--blue) !important;
}
.border-blue-purple {
  border-color: var(--blue-purple) !important;
}
.border-purple {
  border-color: var(--purple) !important;
}
.border-purple-light {
  border-color: var(--purple-light) !important;
}
.border-purple-red {
  border-color: var(--purple-red) !important;
}
.border-pink-light {
  border-color: var(--pink-light) !important;
}
.border-salmon-pink {
  border-color: var(--salmon-pink) !important;
}
.border-salmon-pink-light {
  border-color: var(--salmon-pink-light) !important;
}

.border-gray-dark {
  border-color: var(--gray-dark) !important;
}

.border-gray {
  border-color: var(--gray) !important;
}

.border-gray-light {
  border-color: var(--gray-light) !important;
}

.border-base-color {
  border-color: var(--base-color) !important;
}

.border-base-color-opacity-half {
  border-color: var(--base-color-opacity-half) !important;
}
